<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780667367141-qkutjg1vu17i22j8tgrvqgnb6jf36197.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780667367141-qkutjg1vu17i22j8tgrvqgnb6jf36197</string>
	<key>API_KEY</key>
	<string>AIzaSyAQafFzDTT__gxeV1WKvfU0dXuPFxpophU</string>
	<key>GCM_SENDER_ID</key>
	<string>780667367141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.botBrain</string>
	<key>PROJECT_ID</key>
	<string>botbrain-58e35</string>
	<key>STORAGE_BUCKET</key>
	<string>botbrain-58e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780667367141:ios:335f2b38ca65e52cdb2e0c</string>
</dict>
</plist>